<section>
    <div class="container">
        <h2>Cadastro de Ofertas</h2>

        <form [formGroup]="saleForm">
            <div class="grid">
                <div class="campos">
                    <mat-form-field appearance="outline">
                        <mat-label>ID</mat-label>
                        <input matInput name="id" placeholder="ID do jogo">
                    </mat-form-field>
                </div>
            
            
                <div class="campos">
                    <mat-form-field appearance="outline">
                        <mat-label>Título</mat-label>
                        <input matInput name="title" placeholder="Título do jogo">
                    </mat-form-field>
                </div>
            
                <div class="campos">
                    <mat-form-field appearance="outline">
                        <mat-label>Preço</mat-label>
                        <input matInput name="price" placeholder="Título do jogo">
                    </mat-form-field>
                </div>
            
                <div class="campos">
                    <mat-form-field appearance="outline">
                        <mat-label>Preço com desconto</mat-label>
                        <input matInput name="salePrice" placeholder="Peeço com deaconto">
                    </mat-form-field>
                </div>
            
                <div class="campos">
                    <mat-form-field appearance="outline">
                        <mat-label>Loja</mat-label>
                        <mat-select name="store">
                            <mat-option *ngFor="let loja of lojas" [value]="loja.id">{{loja.nome}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            
            
                <div class="campos">
                    <mat-form-field appearance="outline">
                        <mat-label>Descrição</mat-label>
                        <input matInput name="description" placeholder="">
                    </mat-form-field>
                </div>
            
            </div>
            <div class="campos">
                <button type="submit" mat-raised-button color="primary" (click)="onSubmit" >Salvar</button>
            </div>
        </form>
    </div>
</section>